####################################################################
#
#
#
####################################################################

[package]
name = ""
version = ""
book_title = ""
book_ver = ""
book_rev = ""
chapter_id = ""
section_id = ""
child1 = [ "source", "patches", "additional_downloads", "dependencies" ]
build_instructions = ""

[source]
urls = ""
checksums = ""

[patches]
urls = ""
checksums = ""

[additional_downloads]
urls = ""
checksums = ""


[dependencies]
required = ""
recommended = ""
optional = ""
runtime = ""
