####################################################################
#
#
#
####################################################################

[package]
xpath = "//chapter//sect1info[productname and productnumber]"
name = "./productname/text()"
version = "./productnumber/text()"
book_title = ""
book_ver = ""
book_rev = ""
chapter_id = "./ancestor::chapter/@id"
section_id = "./ancestor::sect1/@id"
child1 = [ "source", "patches", "additional_downloads", "dependencies" ]
build_instructions = "./ancestor::sect1//screen[not(@role=\"nodump\")]/userinput/text()"

[source]
url = "//sect1[@id='ch-materials-packages']//varlistentry[contains(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
checksum = "//sect1[@id='ch-materials-packages']//varlistentry[contains(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"

[patches]
url = "//sect1[@id='ch-materials-patches']//varlistentry[contains(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
checksum = "//sect1[@id='ch-materials-patches']//varlistentry[contains(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"


[additional_downloads]
urls = ""
checksums = ""

[dependencies]
required = ""
recommended = ""
optional = ""
runtime = ""
