####################################################################
#
#
#
####################################################################

[package]
xpath = "//chapter//sect1info[productname and productnumber]"
name = "./productname/text()"
version = "./productnumber/text()"
book_title = "//bookinfo/title/text()"
book_ver = "substring-before(substring-after(//bookinfo/subtitle[1]/text(),' '),'-')"
book_rev = "substring-after(//bookinfo/subtitle[1]/text(),'-')"
chapter_id = "./ancestor::chapter/@id"
section_id = "./ancestor::sect1/@id"
child1 = [ "source", "patches", "additional_downloads", "dependencies" ]
build_instructions = "./ancestor::sect1//screen[not(@role=\"nodump\")]/userinput//text()"

[source]
url = """
//sect1[@id='ch-materials-packages']//varlistentry[
  starts-with(
    translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),
    substring-before(concat('{name}','-pass'),'-pass')
  )
  or
  (
    translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='linux'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='linux-headers'
      or substring-before(concat('{name}','-pass'),'-pass')='kernel'
    )
  )
]//para[contains(.,'Download')]//ulink/@url
"""
checksum = """
//sect1[@id='ch-materials-packages']//varlistentry[
  starts-with(
    translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),
    substring-before(concat('{name}','-pass'),'-pass')
  )
  or
  (
    translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='linux'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='linux-headers'
      or substring-before(concat('{name}','-pass'),'-pass')='kernel'
    )
  )
]//para[contains(.,'MD5')]//literal/text()
"""
#]//para[contains(.,'MD5')]//literal/text()


[patches]
url = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
checksum = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"


[additional_downloads]
urls = ""
checksums = ""

[dependencies]
required = ""
recommended = ""
optional = ""
runtime = ""
