####################################################################
#
#
#
####################################################################

[package]
xpath = "//sect1[@xreflabel and indexterm] | //sect1/sect2[@xreflabel and indexterm]"
name = "translate('{name}', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz')"
version = "translate('{version}', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz')"
name_version = "./title/text()"
book_title = ""
book_ver = ""
book_rev = ""
chapter_id = ""
section_id = ""
child1 = [ "source", "patches", "additional_downloads", "dependencies" ]
build_instructions = ".//screen//userinput//text()"

[source]
url = ""
checksum = ""

[patches]
url = ""
checksum = ""

[additional_downloads]
urls = ""
checksums = ""

[dependencies]
required = ""
recommended = ""
optional = ""
runtime = ""
