# ================================================================
# Scripter Configuration
# ================================================================

[main]
parser_output = "builder/build/{book}/parser/build_metadata/"
script_dir = "builder/build/{book}/{profile}/scripter/scripts/"
default_template = "template.script"

[global]
regex = []


#------------------------------------------------------------------#
# FILTERS
#------------------------------------------------------------------#

[chapter_filters]
include  = [ "chapter-temporary-tools" ]
exclude  = []

[section_filters]
include  = []
exclude  = [ "ch-tools-introduction-cross" ]

[package_filters]
include = []
exclude = []
deps    = []

