# ================================================================
# Executer Configuration
# ================================================================

[main]

# Execution mode for chroot: "individual" (reset each script) or "sequential" (reuse)
chroot_mode = "sequential"

# Directory where the chroot environment will live
chroot_dir = "/mnt/lfs"

# Template for naming packages (disambiguates multiple builds of same package)
# Variables: ${book}, ${profile}, ${chapter_id}, ${section_id}, ${package_name}, ${package_version}
package_name_template = "${package_name}--${package_version}--${book}"


[host]
# Force execution of certain scripts on host
packages = []
sections = [ "ch-tools-changingowner" ]
chapters = []

[chroot]
# Force execution of certain scripts in chroot
packages = []
sections = []
chapters = [ "chapter-chroot-temporary-tools" ]
