# ================================================================
# Scripter Configuration
# ================================================================

[main]
parser_output = "builder/build/{book}/parser/build_metadata/"
script_dir = "builder/build/{book}/{profile}/scripter/scripts/"
default_template = "template.script"

[global]
regex = []

["custom_basedirs-1.0"]
template = "template.script"


#------------------------------------------------------------------#
# FILTERS
#------------------------------------------------------------------#

[chapter_filters]
include  = []
exclude  = []

[section_filters]
include  = []
exclude  = []

[package_filters]
include = []
exclude = []
deps    = []

