# ================================================================
#
# PARSER Configuration
#
# ================================================================

### THIS SECTION MUST BE FIRST FOR PROPER YAML FILE NAMING ###
[package]
xpath = "//chapter//sect1"
chapter_id = "./ancestor::chapter/@id"
section_id = "translate(./@id,'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')"
name = "translate(.//productname/text(),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')"
version = ".//productnumber/text()"
build_order = "{xpath_index}"
book_title = "//bookinfo/title/text()"
book_ver = "substring-before(substring-after(//bookinfo/subtitle[1]/text(),' '),'-')"
book_rev = "substring-after(//bookinfo/subtitle[1]/text(),'-')"
child1 = [ "source", "patches" ]
build_instructions = ".//screen[not(@role=\"nodump\")]//userinput"


[source]
url = """
//sect1[@id='ch-materials-packages']//varlistentry[
  starts-with(
    translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),
    substring-before(concat('{name}','-pass'),'-pass')
  )
]//para[contains(.,'Download')]//ulink/@url
"""
checksum = """
//sect1[@id='ch-materials-packages']//varlistentry[
  starts-with(
    translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),
    substring-before(concat('{name}','-pass'),'-pass')
  )
]//para[contains(.,'MD5')]//literal/text()
"""


[patches]
url = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
checksum = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"


#------------------------------------------------------------------#
# XPATH OVERRIDES
#------------------------------------------------------------------#

[ch-materials-packages.xpaths]
patches.url = ""
patches.checksum = ""

[ch-materials-patches.xpaths]
source.url = ""
source.checksum = ""

[chapter-final-preps.xpaths]
source.url = ""
source.checksum = ""
patches.url = ""
patches.checksum = ""

#------------------------------------------------------------------#
[ch-tools-libstdcpp.xpaths]
source.url = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='gcc'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='gcc-libstdc++'
    )
]//para[contains(.,'Download')]//ulink/@url
"""
source.checksum = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='gcc'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='gcc-libstdc++'
    )
]//para[contains(.,'MD5')]//literal/text()
"""
patches.url = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
patches.checksum = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"

#------------------------------------------------------------------#
[ch-tools-linux-headers.xpaths]
source.url = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='linux'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='linux-headers'
      or substring-before(concat('{name}','-pass'),'-pass')='kernel'
    )
]//para[contains(.,'Download')]//ulink/@url
"""
source.checksum = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='linux'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='linux-headers'
      or substring-before(concat('{name}','-pass'),'-pass')='kernel'
    )
]//para[contains(.,'MD5')]//literal/text()
"""
patches.url = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
patches.checksum = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"

#------------------------------------------------------------------#
[ch-system-xml-parser.xpaths]
source.url = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ:','abcdefghijklmnopqrstuvwxyz:')='xml::parser'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='xml-parser'
    )
]//para[contains(.,'Download')]//ulink/@url
"""
source.checksum = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ:','abcdefghijklmnopqrstuvwxyz:')='xml::parser'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='xml-parser'
    )
]//para[contains(.,'MD5')]//literal/text()
"""
patches.url = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
patches.checksum = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"

#------------------------------------------------------------------#
[ch-system-libelf.xpaths]
source.url = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='elfutils'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='libelf'
    )
]//para[contains(.,'Download')]//ulink/@url
"""
source.checksum = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='elfutils'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='libelf'
    )
]//para[contains(.,'MD5')]//literal/text()
"""
patches.url = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
patches.checksum = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"

#------------------------------------------------------------------#
[ch-system-dbus.xpaths]
source.url = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='d-bus'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='dbus'
    )
]//para[contains(.,'Download')]//ulink/@url
"""
source.checksum = """
//sect1[@id='ch-materials-packages']//varlistentry[
  translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz')='d-bus'
    and
    (
      substring-before(concat('{name}','-pass'),'-pass')='dbus'
    )
]//para[contains(.,'MD5')]//literal/text()
"""
patches.url = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'Download')]//ulink/@url"
patches.checksum = "//sect1[@id='ch-materials-patches']//varlistentry[starts-with(translate(substring-before(term,' '),'ABCDEFGHIJKLMNOPQRSTUVWXYZ','abcdefghijklmnopqrstuvwxyz'),substring-before(concat('{name}','-pass'),'-pass'))]//para[contains(.,'MD5')]//literal/text()"


[ch-system-stripping.xpaths]
source_urls = ""

[ch-system-cleanup.xpaths]
source_urls = ""


#------------------------------------------------------------------#
# MAIN CONFIG SECTION
#------------------------------------------------------------------#
[main]
xml_path = "builder/build/{book}/lfs-full.xml"
output_dir = "builder/build/{book}/parser/build_metadata"
