# ================================================================
# Executer Configuration
# ================================================================

[main]
# Execution mode for chroot: "individual" (reset each script) or "sequential" (reuse)
chroot_mode = "sequential"

# Directory where the chroot environment will live
chroot_dir = "/mnt/lfs"


[host]
# Force execution of certain scripts on host
packages = []
sections = [ "ch-tools-changingowner" ]
chapters = []

[chroot]
# Force execution of certain scripts in chroot
packages = []
sections = []
chapters = [ "chapter-chroot-temporary-tools" ]
