####################################################################
#
#
#
####################################################################

[package]
xpath = "//sect1[@xreflabel and indexterm] | //sect1/sect2[@xreflabel and indexterm]"
name = "translate('{name}', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz')"
version = "translate('{version}', 'ABCDEFGHIJKLMNOPQRSTUVWXYZ', 'abcdefghijklmnopqrstuvwxyz')"
name_version = "./title/text()"
book_title = "/book/bookinfo/title//text()"
book_ver = "substring-after(/book/bookinfo/subtitle/text(),' ')"
book_rev = "/book/bookinfo/title/phrase/@revision"
child1 = [ "source", "additional_downloads", "patches", "dependencies" ]
build_instructions = ".//screen//userinput//text()"


[source]
url = ".//para[contains(.,'Download (HTTP):')]//ulink/@url"
checksum = "substring-after(.//para[contains(.,'Download MD5 sum:')]/text(),': ')"

[additional_downloads]
url = ".//para[contains(.,'Required file:')]//ulink/@url"
checksum = ""

[patches]
url = ".//para[contains(.,'Required patch:')]//ulink/@url"
checksum = ""


[dependencies]
required_first = ".//para[@role='required']//xref[@role='first']/@linkend"
required_before = ".//para[@role='required']//xref[(@role!='runtime' and @role1='first') or not(@role)]/@linkend"
required_after = ".//para[@role='required']//xref[@role='runtime']/@linkend"
recommended_first = ".//para[@role='recommended']//xref[@role='first']/@linkend"
recommended_before = ".//para[@role='recommended']//xref[(@role!='runtime' and @role1='first') or not(@role)]/@linkend"
recommended_after = ".//para[@role='recommended']//xref[@role='runtime']/@linkend"
optional = ".//para[@role='optional']//xref/@linkend"


####################################################################
# MAIN CONFIG SECTION
####################################################################
[main]
xml_path = "builder/build/{book}/blfs-systemd-full.xml"
output_dir = "builder/build/{book}/parser/build_metadata"
